<h1>About US</h1>
<p>Your kids are signed up for multiple after school activities. So are their friends. Mini Minivan let's you easily establish carpools with your friends so you can equally share shuttling kids to their favorite activities. 

Tell us where they need to go.  Invite friends to the carpool. And let us do the rest.

</p>