<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @carpool.description %>
</p>
<% if @carpool.user == current_user %>
<%= link_to 'Edit', edit_carpool_path(@carpool) %> |
<%= link_to 'Back', carpools_path %>
<% end %>